certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
deepdiff==8.0.1
idna==3.6
importlib-metadata==7.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
orderly-set==5.2.2
packaging==23.2
Pygments==2.18.0
PyJWT==2.8.0
python-arango==7.9.0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.9.2
ruff==0.1.11
setuptools==69.0.3
urllib3==2.1.0
zipp==3.17.0
